.app {
  display: flex;
  position: relative;
}

.body {
  width: 80%;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  border: "1px solid #E4E7EC";
  padding: 0.525rem;
  width: 30%;
  height: 120px;
  display: flex;
  flex-direction: column;
  background: white;
}
